.header {
  background-color: #333;
  padding: 10px 0;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav ul li {
  color: #fff;
}

.nav ul li a {
  color: #fff;
  text-decoration: none;
}

.nav ul li a:hover {
  text-decoration: underline;
}
