/* src/components/post/postDetail/PostDetail.css */

/* 전체 컨테이너 스타일 */
#PostDetail {
  max-width: 800px;
  height: 100%;
  margin: 40px auto;
  padding: 20px;
  background-color: #333;
  color: #fff;
  border-radius: 30px;
}

/* 뒤로가기 버튼 컨테이너 */
.back-button-container {
  text-align: center;
  margin-top: 30px;
}

.back-button-container button {
  background-color: #262626;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
}

.back-button-container button:hover {
  background-color: #191919;
}

/* 반응형 디자인 */
@media (max-width: 576px) {
  /* 필요한 경우 여기서 PostDetail 컴포넌트의 반응형 스타일을 추가합니다 */
}
