.outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background-color: #333; */
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 350px;
  padding: 40px 30px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(231, 231, 231, 0.2);
  text-align: center;
}

.sign-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 350px;
  padding: 40px 30px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(231, 231, 231, 0.2);
  text-align: center;
}

h2 {
  color: #121212 !important;
  margin: 0; /* h2의 기본 여백 제거 */
  margin-top: 20px !important;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.input-container {
  position: relative;
  margin: 20px 0;
  width: auto;
  display: flex;
  justify-content: center;
}

.input-left-container {
  display: flex;
  flex-direction: column;
  margin-right: 35px;
}

.input-left-container:last-child {
  margin-right: 0; /* 오른쪽 컨테이너는 간격 제거 */
}

.login_input[type='text'],
.login_input[type='password'] {
  width: 100%;
  padding: 10px 0px 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: rgba(150, 150, 150, 0.39);
  /*opacity: 0.5;*/
  color: #333;
  font-size: 16px;
  outline: none;
  justify-content: center;
}

.login_input[type='text']::placeholder,
.login_input[type='password']::placeholder {
  color: #333;
}

.login-button {
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 15px;
  background-color: #80b294;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  display: inline-block;
}

.login-button:hover {
  background-color: #80b294;
  transform: scale(1.02);
  transition: 0.4s;
}

.signup-link {
  width: auto;
  padding: 10px;
}

.signup-p {
  margin: 20px;
  color: #333;
}
