/* src/components/post/postWrite/PostWrite.css */

#PostWrite {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #333;
  color: #fff;
  border-radius: 12px;
}

#write_area {
  display: flex;
  flex-direction: column;
}

.write-title {
  text-align: start;
  margin-bottom: 30px;
  color: white !important;
}

#title {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  font-size: 18px;
  border: none;
  border-bottom: 2px solid #555;
  background-color: #191919;
  color: #fff;
  outline: none;
}

#title::placeholder {
  color: #aaa;
}

#title:focus {
  border-bottom-color: #4381e6;
}

.tox .tox-toolbar,
.tox .tox-toolbar__primary {
  background-color: #262626;
}

.tox .tox-editor-header {
  background-color: #262626;
}

.tox .tox-statusbar {
  background-color: #262626;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  gap: 10px;
}

.btn-submit,
.btn-cancel {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn-submit {
  background-color: #4381e6;
  color: #fff;
}

.btn-submit:hover {
  background-color: #0056b3;
}

.btn-cancel {
  background-color: #555;
  color: #fff;
}

.btn-cancel:hover {
  background-color: #333;
}

/* 반응형 디자인 */
@media (max-width: 576px) {
  #PostWrite {
    padding: 10px;
  }

  .btn-submit,
  .btn-cancel {
    width: 100%;
  }

  .button-group {
    flex-direction: column;
    gap: 10px;
  }
}
