/* src/components/more/Main.css */

.more-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #1e1e1e; /* 배경색 추가 */
  border-radius: 15px; /* 모서리 둥글게 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-container {
  text-align: center;
  margin-bottom: 40px;
}

.search-input {
  padding: 10px 15px;
  font-size: 16px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 25px;
  transition: border-color 0.3s;
}

.search-input:focus {
  outline: none;
  border-color: #007bff; /* 포커스 시 파란색 테두리 */
}

h3 {
  margin-top: 60px;
  margin-bottom: 20px;
  text-align: left;
  font-size: 20px;
  color: #ffffff; /* 헤딩 텍스트 색상 */
}

.game-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  margin-top: 20px;
}

.game-item {
  text-decoration: none;
  color: #333;
}

.game-card {
  background-color: #191919; /* 카드 배경색 */
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ccc;
}

.game-card:hover {
  /* transform: translateY(-5px); */
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2); /* 호버 시 그림자 강조 */
}

.game-card img {
  width: 100%;
  height: auto;
  max-height: 100px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.game-card:hover img {
  transform: scale(1.05); /* 호버 시 이미지 살짝 확대 */
}

.game-card p {
  font-size: 14px;
  font-weight: 600; /* 글자 강조 */
  color: white; /* 텍스트 색상 */
  margin: 0;
}

hr {
  margin-top: 60px;
  border: none;
  border-top: 1px solid #555; /* 라인 색상 어둡게 */
  opacity: 0.7;
}
